// Reset стилі
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Базові стилі
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .products {
        margin-bottom: 20px;

        &__conteiner {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;

            .products_title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .products_create {
                margin-bottom: 20px;

                .products_input_title {
                    margin-bottom: 10px;
                }

                .products_input {
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 10px;
                }
            }

            .products_filter {
                margin-bottom: 10px;

                .product_filter_input {
                    width: 100%;
                    padding: 8px;
                }
            }

            .products_sum {
                font-weight: bold;
            }
        }
    }

    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
		top: 0;
		left: 0;
         visibility: hidden;
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 background-color: #4140409d;

        &.open {
        visibility: visible;
        }

        .popup_body {
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 300px;

            .popup_close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }

            .popup_content {
                margin-bottom: 10px;
            }

            .popup_button {
                text-align: center;
            }
        }
    }
}

// Стилі для продукту
.product_item {
    display: flex;
    border: 1px solid #ccc;
    margin-bottom: 20px;
	flex-wrap: wrap;


    &_photo {
        flex: 0 1 300px;
		position: relative;
		min-height: 200px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
    }

    &_content {
        flex: 1;
        padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

        .product_item_title,
        .product_item_price {
            margin-bottom: 5px;
        }

        .product_item_delete {
            cursor: pointer;
            background-color: #ff3333;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
        }
    }
}
